In [16]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import plotly.graph_objects as go

In [17]:
df = pd.read_csv("SPY_2020-03-31_minute.csv")
# df = df.iloc[::-1]
df

                    Date    Open   Close    High     Low   Volume
0    2020-03-31 13:06:06  259.50  259.50  259.50  259.50        0
1    2020-03-31 13:06:00  259.33  259.39  259.59  259.01   443733
2    2020-03-31 13:05:00  259.33  259.39  259.59  259.01   443733
3    2020-03-31 13:04:00  259.72  259.33  259.89  259.33   961884
4    2020-03-31 13:03:00  260.04  259.72  260.06  259.72   194643
..                   ...     ...     ...     ...     ...      ...
213  2020-03-31 09:34:00  260.08  260.30  260.88  260.02   706784
214  2020-03-31 09:33:00  260.38  260.09  260.43  259.72   587874
215  2020-03-31 09:32:00  260.44  260.36  260.92  260.15   706999
216  2020-03-31 09:31:00  260.29  260.43  260.45  259.87   523999
217  2020-03-31 09:30:00  260.29  260.29  260.29  260.29  6839744

[218 rows x 6 columns]

In [29]:
maxidx = df.Close.idxmax()
minidx = df.Close.idxmax()

maxval = df.Close.max()
minval = df.Close.min()

In [30]:
maxidx, maxval

(94, 263.19)

In [27]:
df.iloc[94]

Date      2020-03-31 11:33:00
Open                    262.9
Close                  263.19
High                    263.2
Low                     262.8
Volume                 487123
Name: 94, dtype: object